body{
    overflow-x: hidden;
}
.card{
    position: relative;
}
.card:hover{
    transition: 0.6s;
    transform: scale(1.1);
}
.content{
    padding: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    color: white;
    border-radius: 5px;
}

.content:hover{
    opacity: 1;
}

.btnDiv{
    padding: 10px;
}